.detail-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 95%; /* Takes the full width of its parent */
}

.summary-container {
    display: flex;
    flex-direction: column;
    padding: 2px;
    border-right: 1px solid #ccc;
    width: 30vw;
}
.summary {
    /* width: 40vw; */
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: #f9f9f9;
}
.summary-text {
    width: 100%;
    flex: 1;
    resize: none;
    box-sizing: border-box;
    color: white;
    background-color: rgb(13, 13, 65);
}

/* .summary {
    flex: 1;
    display: flex;
    flex-direction: column;
} */
.meta-wrapper {
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.info-container {
    background-color: rgb(13, 13, 65);
    display: flex;
    align-items: center;
    /* margin-bottom: 10px; */
    padding: 10px;
}

.meta-video {
    margin-right: 10px;
}

.meta-search {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.embedding-div{
    /* text color white */
    color: white;
    padding: 10px;
}
.search-buttons{
    padding: 10px;
    display: flex;
    flex-direction: row;

    /* justify-content: space-evenly; */
}

.meta-search input {
    margin-right: 10px;
}
.scrollable-content {
    width: 100%;
    max-height: 70vh; /* or any other value */
    overflow-y: auto; /* This enables vertical scrolling */
    border: 1px solid #ccc; /* Optional, just for visibility */
    padding: 10px;
    color: white;
}
.scrollable-content a {
    width: 100%;
    max-height: 70vh; /* or any other value */
    overflow-y: auto; /* This enables vertical scrolling */
    color: white;
}
.linked-transcript {
    text-decoration: none;   
    font-size: 20px;
    font-family: 'Verdana';
    color: white;
}


.linked-transcript a {
    text-decoration: none;   
    font-size: 20px;
    font-family: 'Verdana';
    /* Get rid of underline */
    color: white;
}
.body {
    display: flex;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}
.summary-container {
    flex: 1;
    padding: 20px;
    box-sizing: border-box;
    border-right: 1px solid #ccc;
    display: flex;
    flex-direction: column;
}


.meta-wrapper {
    flex: 1;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}
.meta-container {
    margin-bottom: 20px;
}
/* .meta-iframe {
    width: 100%;
    height: 100px;
    border: none;
} */
.meta-search {
    margin-top: 10px;
}
.meta-text {
    flex: 1;
    overflow-y: auto;
}
.scrollable-content {
    max-height: 100vh;
    overflow-y: auto;
}

.highlight {
    /* gunmetal color */
    /* background-color: #2C3539; */
    background-color: rgb(118, 53, 53);
}
.hyperlink-container{
    height: 100vh;
}
.nonlinked-transcript-container{
    margin-bottom: 20px;
    max-height: 100vh;
    height: 80vh;
}
.nonlinked-transcript {
    width: 100%;
    flex: 1;
    box-sizing: border-box;
    color: white;
    background-color: rgb(13, 13, 65);
    height: 100%;
    max-height: 80vh;
    overflow-y: auto;
    resize: none;
}
#linked-transcript {
    max-height: 80vh;
    overflow-y: auto;
}