/* Wraps Everything */
.detailWrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}



/* Contains everything in the recap */
.recapContainer {
    flex: 1;
    padding: 1%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 50%;
    height: auto;
}
.recap {
    flex: 1;
    display: flex;
    flex-direction: column;

    color: white;
    background-color: rgb(13, 13, 65);
    overflow-x: hidden;
    overflow-y: auto;
    margin: 1%;
    height: 100%;
}

.recapHtml {
    margin: 1%;
    height: 100%;
    color: white;
    background-color: rgb(13, 13, 65);
}
.recapPlainText {
    width: 100%;
    flex: 1;
    color: white;
    margin: 10px;
    background-color: rgb(13, 13, 65);
    overflow-y: auto;
}





/* Wraps around the video information, search, and transcript */
.infoSearchTranscriptWrapper {
    flex: 1;
    width: 50%;
    height: 100%;
    padding: 1%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}
.infoSearchTranscriptContainer{
    margin: 1%;
    width: 100%;
    background-color: rgb(13, 13, 65);
}
/* Contains the search and video info */
.infoSearchContainer {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 98%;
    height: auto;
    margin: 2%;
}
.recapHeader{
    display: flex;
    justify-content: center;
    font-size: 20px;
    font-weight: bold;
    color: white;
    align-items: center;
    padding-bottom: 20px;
}
.videoContainer {
    margin-right: 2%;
}
.search {
    margin-top: 10px;
    width: 50%;
}
.searchField{
    color: white;
    padding: 10px;
}
.searchButtons{
    display: flex;
    flex-direction: row;
}
.searchButtons > * {
    margin: 10px;
}
.nonlinkedTranscript {
    width: 100%;
    flex: 1;
    box-sizing: border-box;
    color: white;
    background-color: rgb(13, 13, 65);
    height: 100%;
    height: 80vh;
    overflow-y: auto;
    resize: none;
}


/* Mobile adjustments */
@media (max-width: 768px) {
    .detailWrapper{
        display: flex;
        flex-direction: column;
        width: 95%;
    }
    .recapContainer {
        width: 100%;
    }
    .infoSearchTranscriptWrapper {
        width: 100%;
    }
  }
