/*  set page font and background color */
body {
  font-family: system-ui;
  background-color: midnightblue;
  margin: 0;
  width: 100vw;
}
#root{
  width: 100vw;
}

.page-div {
  /* display: grid;
  justify-content: center;
  flex-direction: column; */
  display: 'flex';
  justify-content:'center';
  align-items:'center';
  height: '100vh';
}


/* Goes on top of everything else */
.metas-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: midnightblue;
  padding: 0px;
  /* center the div on the page */
}

/* Goes on top of everything else */
.all-metas {
    display: grid;
    /* grid-template-columns: repeat(auto-fit, minmax(200px, 500px)); */
    /* flex-wrap: wrap; */
    justify-content: space-around;
    background-color: midnightblue;
  
  
    /* it should flex such that the left and right side have containers */
    flex-direction: row;
    grid-template-columns: repeat(2,1fr);
    /* even spacing */
    gap: 20px;
    /* flex-direction: column; */
    overflow: visible;
    position: static;
  }
  


.meta-header {
    display: flex;
    justify-content: center;
    font-size: 20px;
    height: 10vh;
    font-weight: bold;
    color: white;

    /* center text to top */
    align-items: center;
    padding-bottom: 20px;
    


    /* padding-top: 0px; */
    /*padding-bottom: 10px;
    background-color: midnightblue;
    color: white;
    font-size: 2em;
    font-weight: bold;
    width: 100vw; */
}




/* The container which has everything in it about a meta */
.meta-container {
  border: 1px solid #ddd;
  display: flex;
  flex-direction: column;
  padding: 2px;
  margin-bottom: 20px;
  width: 35vw;
  height: 60vh;
  box-sizing: border-box;
  background-color: rgb(13, 13, 65);
}

/* Details is the info and video */
.meta-details {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%; /* Takes the full width of its parent */
  height: 25%;
}
.meta-info {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  color: white;
  /* create border around meta-info */
  /* border: 1px solid #ddd;
  padding: 5px; */
}
.detail-button {
  /* change color to midnight blue*/
  /* background-color: midnightblue; */
  background-color: #1b75bc;
  color: #e5e7eb;
  font-family: system-ui;
}
.meta-video {
  padding-right: 2px;
  padding-left: 2px;
  padding-bottom: 2px;
  padding-top: 2px;
}
.meta-iframe {
  height: 100%;
  width: 100%;
}

/* Content is the textbox */
.meta-content {
  display: flex;
  justify-content: center;
  height: 75%;
  width: 100%;
  /* disable the scroll bar */
  overflow: hidden;
  overflow-y: hidden;
}

.meta-content {
  -webkit-overflow-scrolling: touch; /* Optional for better touch scrolling */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer and Edge */
}
.meta-content::-webkit-scrollbar {
  display: none;
}


.meta-text {
  display: flex;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  width: 100%;
  height: 100%;
  background-color: midnightblue;
}
.meta-textarea {
  display: flex;
  /* justify-content: center; */
  flex-direction: column;
  /* scrollable is true */
  overflow-y: auto;
  padding: 10px;
  width: 100%;
  height: 100%;
  color: white;
  background-color: midnightblue;
}


/*  apply backgorund to meta-container, meta-details, and meta-info at once */
.meta-container, .meta-details, .meta-info, .meta-content, .meta-text, .meta-textarea{
    background-color: rgb(13, 13, 56);
  }




.chat-embed{
  padding-left: 20px;
  height: 100%;
}